<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Ledybot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
<userSettings>
        <Ledybot.Properties.Settings>
                <setting name="IP" serializeAs="String">
                        <value>192.168.1.</value>
                </setting>
                <setting name="Blacklist" serializeAs="String">
                        <value>True</value>
                </setting>
                <setting name="Deposited" serializeAs="String">
                        <value>Ledyba</value>
                </setting>
                <setting name="Thread" serializeAs="String">
                        <value>5p3kgb</value>
                </setting>
                <setting name="Reddit" serializeAs="String">
                        <value>True</value>
                </setting>
                <setting name="Subreddit" serializeAs="String">
                        <value>PokemonPlaza</value>
                </setting>
                <setting name="RBFront" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="RBBack" serializeAs="String">
                        <value>True</value>
                </setting>
        </Ledybot.Properties.Settings>
    </userSettings>
</configuration>
