<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="IP" value="192.168.1."/>
    <add key="Port" value="8000"/>
    <add key="PID" value="2c"/>
    <add key="Deposited" value="Finneon"/>
    <add key="Dex" value="1"/>
    <add key="StartFromEnd" value="true"/>
    <add key="GiveAway" value="Wimpod"/>
    <add key="Spanish" value="false"/>
    <add key="Default" value="D:/Ledybot/pk7s/Wimpod.pk7"/>
    <add key="Folder" value="D:/Ledybot/pk7s/"/>
    <add key="Gender" value="0"/>
    <add key="Level" value="9"/>
  </appSettings>
</configuration>